.container {
  position: relative;
  width: 84%;
  height: 100%;
  overflow: hidden;
}
.webcam > video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.btn-photo {
  width: 100px;
  height: 100px;
  top: 40%;
  left: 91%;
  margin-top: -50px;
  margin-left: -50px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.btn-record-video {
  width: 100px;
  height: 50px;
  top: 56.5%;
  left: 91%;
  margin-top: -50px;
  margin-left: -50px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.btn-download-video {
  width: 100px;
  height: 50px;
  top: 66.5%;
  left: 91%;
  margin-top: -50px;
  margin-left: -50px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.circle {
  position: absolute;
  top: 12%;
  left: 12%;
  bottom: 12%;
  right: 12%;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0;
}
.ring {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border-radius: 100%;
  border: 0.5em solid #fff;
  opacity: 0.8;
}
.btn-photo .circle,
.btn-photo .ring {
  transition: all 0.25s;
}
.btn-photo:hover .circle {
  opacity: 1;
}
.btn-photo:active .ring {
  opacity: 1;
}
.btn-photo:active .circle {
  opacity: 0.5;
}

.features {
  position: absolute;
  top: 20%;
  left: 89%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.feature {
  cursor: pointer;
  transition: all 0.25s;
}

.frames {
  position: absolute;
  top: 75%;
  left: 88.1%;
  z-index: 2;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 400px;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.frame {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  border: 1px solid #fff;
  margin: 2px;
  cursor: pointer;
}
